<h3>Workout</h3>
{{#if isEditing}}
  {{input type='text' value=location}}
  {{input type='date' value=date}}
  <button {{action updateWorkout this}}>Save</button>
  <button {{action closeEdit}}>Disable Edit</button>
{{else}}
  <button {{action openEdit}}>Enable Edit</button>
{{/if}}
<p>Location: {{location}}</p>
</p>Date: {{date}}</p>


